#hehe
{
    box-shadow:5px 5px 5px grey;
    padding: 10px;
}

canvas
{
    box-shadow: 5px 5px 5px grey;
}

.copy_right_footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: grey;
    line-height: 3;
    text-align: center;
}

